<% provide(:title,'Ctrl_Centre') %>
<%
=begin
検索ボックス周り
=end
%>
<%= form_tag ctrl_crs_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag '検索', :id => nil %>
</p>
<%end%>
<div class="row">
        <div class="col-md-12">
      <table class="table">
        <thead> 
          <th>Status</th>
          <th>division</th> 
          <th>Name</th> 
          <th>ext</th> 

          <th>Doc_ID</th> 
          <th>Accused</th>  
          <th>担当者</th>  
        </thead>
        <% @cr.each do |c| %>

        <tbody>
          <% if c.status == 1 %>
          <td><%= button_to '受付待',edit_cr_path(c), {method: :get, class:"btn btn-danger"}%></td>
          <% elsif c.status == 2 %>
          <td><%= button_to '処理中',edit_cr_path(c), {method: :get, class:"btn btn-warning"}%></td>
          <% elsif c.status == 3 %>
          <td><%= button_to '貸出ok','#', {method: :get, class:"btn btn-success"}%></td>
          <% elsif c.status == 4 %>
          <td><%= button_to '仮出中','#', {method: :get, class:"btn btn-primary"}%></td>
          <% elsif c.status == 5 %>
          <td><%= button_to '返還済','#', {method: :get, class:"btn btn-Secondary"}%></td>

          <% end %>         

          <td><%= c.division %></td>
          <td><%= c.Name %></td>
          <td><%= c.ext %></td>
          <td><%= c.cr_type %></td>
          <td><%= c.Accused %></td>
          <td><%= c.officer %></td>
          <td><%= link_to "返す",'#' %></td>

        </tbody>
        <% end %>

      </table>
        </div>
</div>

