<% provide(:title,'Ctrl_edit') %>
<%= form_for(@cr) do |f|%>
  <div class="col-md-12">
    <% f.hidden_field :id%>
    <%= f.text_field :status, value: @cr.status + 1 %>
    <% if @cr.status==1 %>
      <%=f.label :officer, 'Officer in charge'%>
      <%=f.text_field :officer, value: @current_user.Name %>
    <% elsif @cr.status==2 %>
      <%=f.label :amount_ka, 'KA'%>
      <%=f.text_field :amount_ka %>
      <%=f.label :amount_fu, 'FU'%>
      <%=f.text_field :amount_fu %>
    <% else %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>  
  <div class="col-md-12">
    <div class="row">
        <%= @cr.division %>
        <%= @cr.Name %>
        <%= @cr.ext %>
        <%= @cr.cr_type %>
        <%= @cr.Accused %>
    </div>
  </div>

