<% provide(:title, "Entry") %>
<%= form_for(@cr) do |f| %>

  <h1>請求フォーム</h1>
  <%= f.hidden_field :status, value: '1' %>

<%#申請者情報%>
<div class="row">
<div class="col-md-6 col-md-offset-3">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>division</th>
      <th>ext</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.text_field :Name, class: 'form-control', value: @current_user.Name %></td>
      <td>
      <%= f.text_field :division, class: 'form-control', value: @current_user.division_id %></td>
      <td><%= f.text_field :ext, class: 'form-control', value: @current_user.ext %></td>
    </tr>
  </tbody>
</table>

<%#顧客%>
  <div>
    <%= f.label :Accused, "顧客名" %>
    <%= f.text_field :Accused, class: 'form-control' %>
  </div>

<%#番号%>
  <div>
    <%= f.label :r_select_id, "番号区分" %>
  　<%= f.collection_select :r_select_id, @rselect, :rselval, :rselname %>
  </div>

  <div>
    <label>保管・保存番号</label>
    <table>
      <tr>
        <td><%= f.text_field :cr_year, class: 'form-control', placeholder: "年" %></td>
        <td><%= f.text_field :cr_type, class: 'form-control', placeholder: "処理区分" %>
        </td>
        <td><%= f.text_field :cr_no, class: 'form-control', placeholder: "番号" %>
        </td>
      </tr>
    </table>
  </div>
<!--order_rについては、隠しフィールドで保管保存の別を把握
>>r_select_idで把握しているので不要では？
-->

<%#依頼内容%>
  <div class="form-check">
    <lavel class='form-check-label'>
      <label><%= f.check_box :order_ka, {}, true, false %>確定資料</label>
      <label><%= f.check_box :order_fu, {}, true, false %>不提出資料</label>
      <label><%= f.check_box :order_fu, {}, true, false %>test資料</label>
    </lavel>
  </div>

<%#謄本の要否%>
  <div>
    <label><%= f.check_box :order_jd, {}, true, false %>資料要旨の要否</label>
  </div>
  <div>  
    <%= f.label :cnt_jd, "必要部数"%>
    <%= f.text_field :cnt_jd, class: 'form-control' %>
  </div>

  <div>
    <%=  f.submit "Submit", :disable_with => 'Submiting...' %>
  </div>
</div>
</div>


<% end %>
